.greg-banner {
  background: #333;
  padding: 10px 0;
  text-align: center;
  .greg-banner__text{
    color: #fff;
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    &__link {
      color: #fff;
      text-decoration: underline;
    }
  }
}
