<?xml version="1.0"?>
<config>
    <modules>
        <Greg_Banner>
            <version>0.1.0</version>
        </Greg_Banner>
    </modules>
    <global>
        <models>
            <greg_banner>
                <class>Greg_Banner_Model</class>
                <resourceModel>greg_banner_resource</resourceModel>
            </greg_banner>
            <greg_banner_resource>
                <class>Greg_Banner_Model_Resource</class>
            </greg_banner_resource>
        </models>
        <blocks>
            <greg_banner>
                <class>Greg_Banner_Block</class>
            </greg_banner>
        </blocks>
        <helpers>
            <greg_banner>
                <class>Greg_Banner_Helper</class>
            </greg_banner>
        </helpers>
        <resources>
            <greg_banner_setup>
                <setup>
                    <module>Greg_Banner</module>
                </setup>
            </greg_banner_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <studioforty9_banner>
                    <file>greg_banner.xml</file>
                </studioforty9_banner>
            </updates>
        </layout>
    </frontend>
</config>